section {
  width: 360px;
  height: 592px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  background: black;
}

.ocultar {
  display: none;
}

.titulo-medio {
  background-color: black;
  color: white;
  text-align: center;
}

#Inicio {
  background: lightblue;
}

#Registro {
  background: lightseagreen;
}

#Escaner {
  background: lightsteelblue;
}

#ListaChats {
  background: lightsalmon;
}

#ChatUsuario {
  background: lightgreen;
}

#MenuOpciones {
  background: lightyellow;
}

#EditarPerfil {
  background: lightpink;
}

#EditarFoto {
  background: blueviolet;
}

#CambiarPassword {
  background: brown;
}

#Acercade {
  background: aqua;
}

.boton {
  background-color: Navy;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.volver {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
}