#Acercade {
  background: aqua;
}

#ChatUsuario {
  background: lightgreen;
}

.btnEnviarMSG {
  margin-top: 100px;
}

#caja-chat {
  width: 90%;
  height: 400px;
}

#datos-chat {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

textarea {
  margin-top: 100px;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 3px;
}

#Escaner {
  background: lightsteelblue;
}

.titulo-medio {
  background-color: black;
  color: white;
  text-align: center;
}

#EditarFoto {
  background: blueviolet;
}

#Inicio {
  background: lightblue;
}

.input-login, .input-field {
  margin-bottom: 10px;
}

#ListaChats {
  background: lightsalmon;
}

#MenuOpciones {
  background: lightyellow;
}

#CambiarPassword {
  background: brown;
}

#EditarPerfil {
  background: lightpink;
}

#RegistroSec {
  background: lightseagreen;
}

.input-field {
  margin-bottom: 10px;
}

fieldset {
  width: 220px;
  display: inline;
}

body {
  margin: 0;
  padding: 0;
  background: black;
}

section {
  width: 360px;
  height: 592px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

input {
  font: 16px/26px "Raleway", sans-serif;
}

.boton {
  background-color: navy;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.volver {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
}

.ocultar {
  display: none;
}

.submit-btn {
  margin-top: 10px;
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 13px;
  padding: 10px 0;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
}

img {
  padding-left: 80px;
  display: block;
  margin-right: auto;
}

h1 {
  color: white;
}
