$color_sec_Escaner:lightsteelblue;
$color_tmedio:white;
$color_tmedio_background:black;
#Escaner {
    background: $color_sec_Escaner;
}

.titulo-medio {
    background-color: $color_tmedio_background;
    color: $color_tmedio;
    text-align: center;
}