$color_backgroud:black;
$color_btn_background:navy;
$color_btn:white;
$color_logintitle:white;
$color_btnSub_bk:#3498DB;
$color_btnSub:#ffffff;

body{
    margin: 0;
    padding: 0;
    background: $color_backgroud;
}

section {
    width: 360px;
    height: 592px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
  
input {
    font: 16px/26px "Raleway", sans-serif; 
}

.boton {
    background-color: $color_btn_background;
    color: $color_btn;
    padding: 10px;
    text-decoration: none;
}

.volver {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
}

.ocultar {
    display: none;
}

.submit-btn{
  margin-top:10px;
  border: 2px solid transparent;
  background: $color_btnSub_bk;
  color: $color_btnSub;
  font-size: 16px;
  line-height: 13px;
  padding: 10px 0;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
}

img{
    padding-left: 80px;
    display: block;
    margin-right: auto;
}

h1{
    color:white;
}