$color_header: #262BC9;
$color_btn : #e6e9ff;
$color_btn_bk: #262BC9;
$color_chats: white;


.lc-container{
    background: white;
    height: 100%;
}

.lc-header{
	background: $color_header;
	color: white;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.lista-usuarios a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 32px;
}

#ListaChats header .detalles{
    margin-left: 15px;
}

#ListaChats header .detalles span{
    font-size: 18px;
    font-weight: 50px;
}

.lista-usuarios{
	height: 100%;
    overflow-y: hidden;
    background: $color_chats;
}

.lista-usuarios::-webkit-scrollbar{
    width: 0px;
}

.lista-usuarios a{
    margin-bottom: 15px;
    border-color: black;
    border:solid;
    padding-right: 20px;
}

.lista-usuarios a:last-child{
    margin-bottom: 0px;
}

.lista-usuarios a .contenido img{
    display: flex;
    height: 40px;
    width: 40px;
}
.lista-usuarios a .status-dot{
    font-size: 12px;
    color: #468669;
    margin-top: 25px;
}

